*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #fff;color: #000;font-family: "Microsoft Yahei";
font-size: 15px;line-height: 1.5em;padding: 15px;word-break: break-all;
max-width: 800px;margin: 0 auto;}
.rs{padding: 15px;box-shadow: 0 0 5px #e4e4e4;border: 1px solid #e4e4e4;}
.rs + .rs{
	margin-top: 15px;
}
form{
	display: table;
	margin: 20px auto;
}
input,button{
	padding: 6px 9px;
	margin: 3px;
	border: 1px solid #b7b7b7;
	font-family: inherit;
}
button{
	background: #48a7f3;
	color: #fff;
	border: 1px solid #1463a2;
}
.content{
	font-size: 0.9em;
	color: #666;
	margin: 5px 0;
}
.foot{
	margin: 15px auto;display: table;text-align: center;
	font-size: 0.8em;color: #666
}
.foot a{color: #666;text-decoration: none;}
.ops{
	font-size: 0.9em;
}
.ops .a{
	text-decoration: none;
	color: green;
}
.ops a{
	font-size: 0.95em;
	color: #666;
}
.ops *+*{
	display: inline-block;
}
.nav{padding: 15px 0;display: table;margin:0 auto;}
.nav:after{content: "";display: block;clear: both;height: 0;}
.nav a{
	text-decoration: none;
	color: black;
	padding: 5px 9px;
	border: 1px solid #e4e4e4;
	box-shadow: 0 0 5px #e4e4e4;
	display: inline-block;margin: 0 5px;
}
.nav li{list-style: none;display: inline-block}
.logo{
	max-width: 80%;
	display: block;
	margin: 0px auto 50px auto;
}
.title{
	display: block
}
.logo,button{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span.mark{
	color: #c00;
	font-weight: bold;
}
input{width: 350px}
@media screen and (max-width: 555px){
	input{width: 300px}
}
@media screen and (max-width: 470px){
	input{width: 260px}
}
@media screen and (max-width: 430px){
	input{width: 200px}
	.logo{max-width: 100%}
}
.warning{
	font-weight: bold;
	padding: 8px 13px;
	margin: 15px 0;
	background-color: #46adff;
	border: 1px solid #6ebfff;
	color: #fff;
	box-shadow: 0 0 5px #e4e4e4
}