*{margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #fff;color: #000;font-family: "Times New Roman",Georgia;
font-size: 15px;line-height: 1.5em;padding: 15px;word-break: break-all;
max-width: 800px;margin: 0 auto;}
.rs{padding: 15px;box-shadow: 0 0 5px #e4e4e4;border: 1px solid #e4e4e4;}
.rs + .rs{
	margin-top: 15px;
}
form{
	padding: 2px;
	display: table;
	background-color: #f7f7f7;
	margin: 20px auto;
	border-radius: 2px;
	box-shadow: 0 0 5px #c5c5c5;
}
input,button{
	padding: 5px 8px;
	margin: 4px;
	border: 1px solid #b7b7b7;
	border-radius: 2px;
	font-size: 20px;
	font-family: inherit;
}
button{
	background: #4cc7ff;
	color: #fff;
	border: 1px solid #00a5ef;
}
.content{
	font-size: 0.9em;
	color: #666;
	margin: 5px 0;
}
.foot{
	margin: 15px auto;display: table;text-align: center
}
.foot a{color: #666;text-decoration: none;}
.ops{
	font-size: 0.9em;
}
.ops .a{
	text-decoration: none;
	color: green;
}
.ops a{
	font-size: 0.95em;
	color: #666;
}
.ops *+*{
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px dashed #c7c7c7
}
.nav{padding: 15px 0}
.nav:after{content: "";display: block;clear: both;height: 0;}
.f-l{float: left}
.f-r{float: right}
.nav a{
	text-decoration: none;
	color: black
}
.logo{
	max-width: 80%;
	display: block;
	margin: 0px auto 50px auto;
}
.title{
	display: block
}
.logo,button{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
span.mark{
	color: #c00
}
input{width: 400px}
@media screen and (max-width: 555px){
	input{width: 300px}
}
@media screen and (max-width: 470px){
	input{width: 260px}
}
@media screen and (max-width: 430px){
	form{width: 303px}
	input{width: 200px}
	.logo{max-width: 100%}
}